@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --clr-primary-hsl-100: 215, 51%, 70%;
    --clr-primary-hsl-200: 178, 100%, 50%;

    --clr-neutral-hsl-100: 217, 54%, 11%;
    --clr-neutral-hsl-200: 216, 50%, 16%;
    --clr-neutral-hsl-300: 215, 32%, 27%;
    --clr-neutral-hsl-400: 0, 0%, 100%;

    --clr-primary-100: hsl(var(--clr-primary-hsl-100));
    --clr-primary-200: hsl(var(--clr-primary-hsl-200));

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
    --clr-neutral-400: hsl(var(--clr-neutral-hsl-400));

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    
    --font-family-default: "Outfit", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 18px;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-default);
    font-size: var(--fs-400);
    color: var(--clr-primary-100);
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-neutral-100);
}

.flex-group {
    display: flex;
    align-items: center;
}

.flex-group[data-spacing="large"] {
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid hsl(var(--clr-primary-hsl-100), .5);
}

.flex-group[data-spacing="small"] {
    gap: .5rem;
}

.card {
    --border-radius: 1rem;
    max-width: 20rem;
    border-radius: var(--border-radius);
    background-color: var(--clr-neutral-200);
    padding: 1.5rem;
    margin: 1rem auto;
    box-shadow: 0 2rem 3rem var(--clr-neutral-300);
}

@media (max-width: 600px) {
    .card {
        box-shadow: none;
    }
}

.card-image {
    overflow: hidden;
    border-radius: var(--border-radius);
}

.card-image:hover {
    background: no-repeat center url("./images/icon-view.svg"), var(--clr-primary-200);
    cursor: pointer;
    opacity: 1;
}

.card-image img:hover {
    opacity: .2;
}

.card-description {
    margin: 1.5rem auto;
    line-height: 1.5;
}

.card-description h1 {
    color: var(--clr-neutral-400);
    font-size: var(--fs-600);
    font-weight: var(--fw-semibold);
}

.card-description h1:hover,
.card-description h1:focus-visible {
    color: var(--clr-primary-200);
    cursor: pointer;
}

.card-description p {
    margin-top: 1rem;
    font-weight: var(--fw-light);
    font-size: var(--fs-400);
}

.coin {
    color: var(--clr-primary-200);
    font-weight: var(--fw-semibold);
}

.card-footer {
    margin-top: 1rem;
}

.card-footer img {
    width: 2.5rem;
    border-radius: 50%;
    border: 2px solid var(--clr-neutral-400);
    margin-right: 1rem;
}

.card-footer p {
    font-weight: var(--fw-light);
}

.item-holder {
    color: var(--clr-neutral-400);
}

.item-holder:hover,
.item-holder:focus-visible {
    color: var(--clr-primary-200);
    cursor: pointer;
}